<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .block{
            width: 100%;
            height: 300px;
            margin-top: 10px;
            
        }
        .box{
            float: left;
            margin-left: 10px;
            width: 50px;
        }
        span{
            margin-left: 10px;
            font-weight: 100;
        }
    </style>
</head>
<body>
    <div class="box">
        <span>viridis</span>
        <div class="block" style="background-image: linear-gradient(to bottom, rgba(68,1,84,1),rgba(54,90,140,1),rgba(30,151,139,1),rgba(254,231,36,1));">
        </div>
    </div>
    <div class="box">
        <span>灰度</span>
        <div class="block" style="background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(200,200,200,1),rgba(120,120,120,1),rgba(0,0,0,1))">
        
        </div>
    </div>
    <div class="box">
        <span>透明</span>
        <div class="block" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2))">
        </div>
    </div>
</body>
</html>